.flex {
    display: flex;
    &-row {
        flex-direction: row;
    }
    &-column {
        flex-direction: column;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    &-align-self-start{
        align-self: flex-start;
    }
}

.items {
    &-start {
        justify-content: start;
    }
    &-center {
        align-items: center;
        justify-content: center;
    }
}

.font {
    &-bold {
        font-weight: bold;
    }
    &-xx-large {
        font-size: xx-large;
    }
    &-large {
        font-size: large;
    }
    &-xx-small {
        font-size: xx-small;
    }
    &-small {
        font-size: small;
    }
    &-left {
        text-align: left;
    }
}

.position {
    &-relative {
        position: relative;
    }
    &-left{
        left:0;
    }
}

.full-width {
    position: relative;
    &-_600px {
        max-width: 600px;
    }
}

.full-height{
    position: relative; 
    height:100%;
    &-max-content{
        max-height: max-content;
    }
    &-90p{
        max-height: 90%;
    }
}

.border {
    &-none {
        border: none;
    }
}

.background-none {
    background: transparent;
}

.at-bottom {
    position: relative;
    vertical-align: bottom;
    bottom: 0;
}

.word {
    &-wrap {
        word-wrap: normal;
        word-break: break-all;
        white-space: pre-line;
    }
}

.float{
    &-left{
        float: left;
    }
}