.board {
    background-color: #00e3b2;
    overflow: auto;
    height: 100%;
}


.column {
    background-color: #e6eeee;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    max-width: 500px;
    position: relative;
    height: min-content;
    box-shadow: #282828 1px 1px 8px 1px;
}

#new-task-input{
    width: 100%;
}